 * {
    box-sizing: border-box;
 }
body{
    margin:0;
    background: black;
    color: white;   
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
svg{
    fill: white;

}

#for_sale{
    margin: 0 0 40px 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #16211C;
    border-bottom: 1px solid #a7aba9;
}

#for_sale h1{
    font-size: 12px;
    font-family: "Suisse BP Int'l";
    padding: 15px 10px 15px 60px; 
    margin: 0;
}

#header_section {
    display: flex;
    padding: 10px 13% 20px 13%;
}

#header_section h1 {
    font-size: 16px;
    margin-left: 44%;
}

#main_section {
    border-bottom: 1px solid #a7aba9;
    padding-bottom: 30px;
}

#main_section h1 {
    padding-left: 49%;
    padding-right: 25%;
    font-size: 35px;
}

#main_section p {
    padding-left: 13%;
}

