 * {
    box-sizing: border-box;
    color: white;
 }
body{
    margin:0;
    background: black;
    color: white;   
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
svg{
    fill: white;

}

button {
    border: none;
    border: 0;
    background-color: black;
}

input {
    background-color: black;
    color: white;
    margin-bottom: 4%;
    border-bottom: 1px solid white;
}

#for_sale{
    margin: 0 0 40px 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #16211C;
    border-bottom: 1px solid white;
}

#for_sale h1{
    font-size: 16px;
    font-family: "Suisse BP Int'l";
    padding: 15px 10px 15px 60px; 
    margin: 0;
    padding-left: 15%;
    overflow: hidden;
}

#header_section {
    display: flex;
    padding: 10px 13% 20px 13%;
}

#header_section i {
    padding: 0 1% 0 1%;
    font-size: 20px;
} 

.dropBtn {
    display: flex;
    /* flex-wrap: nowrap; */
    padding-left: 40%;
    background: #16211C;
    overflow: none;
}

.dropBtn p {
    padding-left: 15%;
}

#header_section #bars {
    padding: 0;
    margin-left: 43%;
    font-size: 25px;
}

#header_section #search {
    padding-left: 43%;
    font-size: 20px; 
}

#header_section h1 {
    font-size: 16px;
}

#header_section a {
    text-decoration: none;
}

#header_section button {
    font-size: 16px;
    margin-left: 1%;
    color: white;
    border: none;
    border: 0;
    background-color: black;
}

#nav_section {
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

#nav_section h1 {
    padding-left: 49%;
    padding-right: 25%;
    font-size: 35px;
    
}


#nav_section p {
    padding-left: 13%;
}

#main_section {
    display: flex;
    border-bottom: 1px solid white;
}

#main_section img{
    max-width: 75%;
    max-height: 933px;
}

#main_section i {
    font-size: 14px;
    margin-left: 60%;
}

#main_section #a_padding1 {
    margin-left: 55%;
}

#main_section #a_padding2 {
    margin-left: 58%;
}

#grid {
    display: grid;
    height: 732px;
    width: 25%;
    grid-template-rows: 100px 100px 100px 1fr;
}

#grid div {
    font-size: 20px;
    padding-top: 40px;
    border-bottom: 1px solid white;
}

#grid div a {
    padding-left: 50px;
    text-decoration: none;
}

#shop_section {
    background: #16211C;
    padding-bottom: 100px;
}

#shop_section i {
    padding-left: 65%;
}

#shop_section #left_h1{
    margin: 0;
    padding: 10% 0 10% 30%;
    display: flex;
    overflow: hidden;
}

#shop_section #right_h1{
    margin: 0;
    padding: 15% 0 15% 10%;
    overflow: hidden;
}

#shop_section a {
    color: white;
    font-size: 12px;
    padding-left: 58%;
}

#shop_section #right_shop a {
    padding-left: 8%;
    padding-top: 20%;
}

#shop_section p{
    padding-left: 8%;
}

#shop_section h2 {
    padding-left: 30%;
    white-space: nowrap;
}
#shop_section #shop_flex p {
    font-size:  15px;
    padding-left: 5%;
    margin-right: 5%;
}

#shop_section #shop_flex {
    display: flex;
    overflow: hidden;
}

#shop_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-bottom: 50px;
}

#right_shop img{
    width: 100%;
    height: 70%;
    padding: 0 15% 0 8%;
}

#left_shop img{
    width: 100%;
    height: 70%;
    padding-right: 5%;
}

#left_shop a {
    text-align: center;
}

#quotes {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30% ;
    height: 30%;
    padding: 5% 0 10% 0;
}

#quoteButton {
    grid-column: 2/3;
    margin: 10% auto 0;
}

#quotes button {
    border-radius: 12%;
}

.quote {
    display: block;
    text-align: center;
    font-size: 10px;
    padding: 0 4%;
}

.quote i {
    font-size: 25px;
}

#middle_section .three_columns {
    display: grid;
    height: 10%;
    grid-template-columns: 20% 30% 17%;
    padding-left: 20%;
}

#middle_section a {
    font-size: 14px;
}

#middle_section .three_columns p{
    padding-left: 0%;
    font-size: 14px;
}

#middle_section svg{
    display: block;
    margin: 5% 0 0 100%;
}

#middle_section img {
    width: 100%;
    padding: 0 20% 0 20%;
}

#brand_section #four_column{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% ;
    grid-template-rows: 60% 60%;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 15%;
    justify-content: center;
}

#four_column img {
    display: block;
    margin: auto auto auto auto;
    width: 70%;
}

#journal_div {
    text-align: left;
    padding: 0 40% 7% 21%;
}

#journal_div h1{
    font-size: 12px;
}

#journal_div p {
    font-size: 30px;
    line-height: 1.3;
    margin: 1% 0;
}

#journal_div a {
    font-size: 14px;
    line-height: 0;
}

#one_column {
    max-width: 58%;
    margin: 0 auto;
}

#article_section {
    width: 55%;
    margin: 0 21%;
}

.articles {
    display: flex;
    padding-bottom: 12%;
}

#article1  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 3%;
}

#article2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 3%;
}

#article3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 3%;
}

.articles_text h1{
    font-size: 22px;
}

.articles_text h2, p	{
    font-size: 13px;
}

.articles_text i {
    padding-right: 2%;
}

#two_columns {
    display: flex;
    border-bottom: 1px solid white;
    margin: 2% 0 1% 0;
}

#two_columns img {
    max-width: 980px;
    max-height: 720px;
    margin: 0 2% 10% 1%;
}

#location_section {
    display: block;
}

#location_section h1 {
    font-size: 20px;
    width: 30%;
    margin-top: 0;
}

#h1_border h1 {
    margin: 0 0 10px 0;
    border-bottom: 1px solid white;
}

#location_section i {
    padding-left: 29%;
}

#location_section h2 {
    font-size: 30px;
    width: 40%;
    line-height: 1.4;
}

#location_section p {
    font-size: 13px;
    line-height: 1.5;
}

#line_height_h1 {
    margin-bottom: 7%;
}

#footer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5% 15%;
}

#footer_section p {
    width: 95%;
}

#footer_section p, a, button {
    font-size: 15px;
}

#footer_section button {
    text-decoration: underline;
}

#footer_section ul a {
    text-decoration: none;
}

#footer_section ul {
    list-style: none;
    line-height: 1.5;
}

#footer_section h1 {
    padding: 5% 5%;
}

#footer_section i{
    padding-right: 3%;
}

@media (max-width: 1205px){
    /* article_section css  */
    #journal_div {
        padding: 0 2% 5%;
        width: 50%;
    }

    #article_section {
        margin: 0 2%;
        width: 90%;
    }
    
    .articles {
        display: flex;
        padding-bottom: 8%;
    }

    .articles img {
        max-width: 655px;
    }
    
    #article1  img{
        margin-right: 2%;
    }
    
    #article2 img{
        margin-left: 2%;
    }
    
    #article3 img{
        margin-right: 2%;
    }
    
    .articles_text h1{
        font-size: 22px;
    }
    
    .articles_text h2, p	{
        font-size: 13px;
    }
    
    .articles_text i {
        padding-right: 1%;
    }

    #two_columns img {
        max-width: 650px;
        max-height: 430px;
        margin-left: 10%;
    }
}

@media (max-width: 980px){
    /* 2 Column css and  */
}

@media (max-width: 760px){
    /* One column  */
}


/* Shop css */



#header_section_shop {
    border-bottom: 1px solid white;
}

#filter_section {
    display: block;
}

#filter_section h1{
    padding: 2% 12%;
    font-size: 35px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#filter_flex {
    padding: 0 20% 1% 9%;
    display: flex;
    border-bottom: 1px solid white;
}

#filter_flex p {
    white-space: nowrap; 
}

#filter_flex button {
    padding-left: 10%;
}

.container{
    position: relative;
    text-align: center;
  }

  .container a {
    color: black
  }

  .container a:hover {
    color: white;
  }

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
  
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

#gallery_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-bottom: 1px solid white;
    color: black;
}

#gallery_section div {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#gallery_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#shop_border {
    border-top: 1px solid white;
}

/* Menu button dropdown css */
.dropdownContent {
    display: none;
    position: absolute;
    overflow: none;
    top: 25%;
    left: 0;
    background-color: #16211C;
    width: 100%;
    /* padding-top: 3%; */
    border-bottom: 1px solid white;
}

#anchors{
    /* padding: 3% 0 0 50%; */
    padding-left: 50%;
}

#anchors a {
    padding: 12px 20px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    text-align: left;
}

.show {
    display: block;
    overflow-y: visible
  }
  /* End of menu dropdown */